{% extends "wiki/base.html" %}
{% load wiki_tags i18n sekizai_tags %}
{% load url from future %}

{% block pagetitle %}{{ article.current_revision.title }}{% endblock %}

{% block wiki_breadcrumbs %}
{% include "wiki/includes/breadcrumbs.html" %}
{% endblock %}

{% block wiki_contents %}

  <div id="article-container">
    <h1 id="article-title">
      {{ article.current_revision.title }}
    </h1>
    <ul class="nav nav-tabs" id="article-menu">
      <li class="pull-left article-info">
        
        <div class="btn-group article-children">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" title="{% trans "Sub-articles for" %} {{ article.current_revision.title }}">
            <i class="icon-list"></i> <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            {% for child in children_slice %}
              <li>
                <a href="{% url 'wiki:get' path=child.path %}">
                  {{ child.article.current_revision.title }}
                </a>
              </li>
              {% empty %}
              <li><a href="#"><em>{% trans "No sub-articles" %}</em></a></li>
            {% endfor %}
            {% if children_slice_more %}
            <li><a href="#"><em>{% trans "...and more" %}</em></a></li>
            {% endif %}
            <li class="divider"></li>
            <li>
              <a href="{% url 'wiki:dir' path=urlpath.path %}">{% trans "Browse articles in this level" %} &raquo;</a>
            </li>
          </ul>
        </div>
        <div class="btn-group article-create-new">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" title="{% trans "Create new article" %}">
            <span class="icon-plus"></span> <span class="caret"></span>
          </a>    
          <ul class="dropdown-menu">
            <li>
              {% if urlpath.parent %}
              <a href="{% url 'wiki:create' path=urlpath.parent.path %}">
                <span class="icon-arrow-right"></span>
                {% trans "New article next to" %} {{ article.current_revision.title }}
              </a>
              {% endif %}
              <a href="{% url 'wiki:create' path=urlpath.path %}">
                <span class="icon-arrow-down"></span>
                {% trans "New article below" %} {{ article.current_revision.title }}
              </a>
            </li>
          </ul>
        </div>
        
        
        {% if urlpath.parent %}
        <span class="article-bookmark"><a href="{% url 'wiki:get' path=urlpath.path %}"><span class="icon-bookmark"></span> {{ urlpath.slug }}</a></span>
        {% endif %}
        {% if article.current_revision.locked %}
        <span class="article-locked">
          <span class="icon-lock"></span> {% trans "locked" %}
        </span>
        {% endif %}
      </li>
      {% include "wiki/includes/article_menu.html" %}
    </ul>
    <div>
    {% autoescape off %}
      {% block wiki_contents_tab %}
      {% endblock %}
    {% endautoescape %}
    </div>
  </div>

{% endblock %}

{% block footer_prepend %}
  <p style="margin-bottom: 10px;"><em>{% trans "This article was last modified:" %} {{ article.current_revision.modified }}</em></p>
{% endblock %}
