{% load sekizai_tags i18n wiki_tags %}{% load url from future %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block pagetitle %}{% endblock %} | DataMill Wiki</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="www.django-wiki.org">

    <link type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/bootstrap.css" />
    <link type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/style.css" />
    <link type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/wiki.css" />
    
    <!-- Le styles -->
    <!--<link href="{{ STATIC_URL }}wiki/bootstrap/css/wiki-bootstrap.min.css" rel="stylesheet">-->
    <!--<link href="{{ STATIC_URL }}wiki/bootstrap/css/wiki-bootstrap-responsive.min.css" rel="stylesheet">-->

    {% render_block "css" %}
    
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <body>
  
    <header class="header">
      
      {% block navbar %}
      <div class="container">
        <div class="row">
          
          <div class="span3">
            {% block wiki_header_branding %}
            <a class="logo" href="/">DataMill</a>
            {% endblock %}
          </div>

          <div class="span9">
            <div class="navbar">
              <div class="navbar-inner">
                  
                  <ul class="nav pull-left">
                    <!--<li><a href="/">Home</a></li>-->
                    <!--<li><a class="active" href="{% url 'wiki:root' %}">Wiki</a></li>-->
                    
                    {% if user.is_authenticated %}
                    {% include "wiki/plugins/notifications/menubaritem.html" %}
                    <li><a href="/experiments">Experiments</a></li>
                    <li><a href="/jobs">Jobs</a></li>
                    <li><a href="/workers">Workers</a></li>
                    <li><a class="wiki-link" href="{% url 'wiki:root' %}">Wiki</a></li>
                    <li class="dropdown logout">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="badge notification-cnt">0</span>
                        {{ user }}
                        <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu">
                        <li>
                          <a href="{% url 'wiki:logout' %}">
                            <span class="icon-off"></span>
                            {% trans "Log out" %}
                          </a>
                        </li>
                        <li class="divider"></li>
                        <div class="notification-list">
                          <div class="notification-li-container"></div>
                          <li class="notifications-empty"><a href="#"><em>{% trans "No notifications" %}</em></a></li>
                          <li class="divider"></li>
                          <li><a href="#" onclick="notify_mark_read()">{% trans "Clear notifications list" %}</a></li>
                        </div>
                      </ul>
                    </li>
                    {% else %}
                    <li class="logout">
                      <a href="{% login_url as wiki_login_url %}{{ wiki_login_url }}">{% trans "Log in" %}</a>
                    </li>
                    {% endif %}
                    <li class="wiki-search">
                      <form class="navbar-search pull-right" id="navbar_wiki_search" method="GET" action="{% url 'wiki:search' %}">
                        <div class="input-append">
                          <input type="text" name="query" placeholder="{% trans "Search wiki..." %}" class="span3" />
                          <button type="submit" class="btn"><span class="icon-search"></span></button>
                        </div>
                      </form>
                    </li>
                  </ul>
                
              </div>
            </div>
          </div><!-- /.span9 -->
            
        </div><!-- /.row -->
      </div><!-- /.container -->
      {% endblock %}
    </header>
    
    {% block wiki_body %}

    <div class="container">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
      {% block wiki_breadcrumbs %}{% endblock %}
      {% block wiki_contents %}
      <h1>Bootstrap starter template</h1>
      <p>Use this document as a way to quick start any new project.<br> All you get is this message and a barebones HTML document.</p>
      {% endblock %}

      </div>

    </div> <!-- /container -->

    {% endblock %}

    {% block footer %}
    <footer class="footer">
      <div class="container">
        <ul class="links">
          <li><a href="/">Home</a></li>
          <li><a href="/about/">About</a></li>
          <li><a href="/wiki/">Wiki</a></li>
          <li><a href="mailto:datamill@uwaterloo.ca">Contact</a></li>
          <li>Copyright &copy; 2013 DataMill</li>
        </ul>
        <br />
        <p>Wiki powered by <a href="http://www.django-wiki.org">django-wiki</a>.</p>
      </div>
    </footer>
    {% endblock %}
    
    <script src="{{ STATIC_URL }}wiki/js/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}wiki/js/core.js"></script>
    <script src="{{ STATIC_URL }}wiki/bootstrap/js/bootstrap.min.js"></script>
    {% render_block "js" %}
  
  </body>
</html>

