{% extends "wiki/base.html" %}
{% load wiki_tags i18n sekizai_tags %}
{% load url from future %}

{% block pagetitle %}{% trans "Delete article" %}{% endblock %}

{% block wiki_contents %}
  <h1 class="page-header">{% trans "Delete" %} "{{ article.current_revision.title }}"</h1>
  
  {% if cannot_delete_root %}
    <p class="lead">{% trans "You cannot delete a root article." %}</p>
    <p><a href="{% url 'wiki:get' path=urlpath.path article_id=article.id %}">{% trans "Go back" %}</a></p>
  {% else %}
  
    {% if cannot_delete_children %}
      
      <p class="alert alert-error"><strong>{% trans "You cannot delete this article because you do not have permission to delete articles with children. Try to remove the children manually one-by-one." %}</strong></p>
      
    {% endif %}
      
    {% if delete_children %}

      <p class="lead">{% trans "You are deleting an article. This means that its children will be deleted as well. If you choose to purge, children will also be purged!" %}</p>
      
      <h2>{% trans "Articles that will be deleted" %}</h2>
      
      <ul>
        {% for child in delete_children %}
        <li><a href="{% url 'wiki:get' article_id=child.article.id %}" target="_blank">{{ child.article }}</a></li>
        {% if delete_children_more %}
        <li><em>{% trans "...and more!" %}</em></li>
        {% endif %}
        {% endfor %}
      </ul>
    
    {% endif %}
    
    {% if not cannot_delete_children %}
    <p class="lead">{% trans "You are deleting an article. Please confirm." %}</p>

    <form method="POST" class="form-horizontal">
      {% wiki_form delete_form %}
      <div class="form-actions">
          <a href="{% url 'wiki:get' path=urlpath.path article_id=article.id %}" class="btn">
            <span class="icon-circle-arrow-left"></span>
            {% trans "Go back" %}
          </a>
          <button type="submit" name="save_changes" class="btn btn-danger">
            <span class="icon-trash icon-white"></span>
            {% trans "Delete article" %}
          </button>
      </div>  
    </form>
    {% endif %}
 
  {% endif %}

{% addtoblock "js" %}
<script type="text/javascript">
  $('#id_revision').val('{{ article.current_revision.id }}');
</script>
{% endaddtoblock %}

{% endblock %}

