{% extends "wiki/article.html" %}
{% load wiki_tags i18n sekizai_tags %}
{% load url from future %}

{% block pagetitle %}{% trans "History" %}: {{ article.current_revision.title }}{% endblock %}

{% block wiki_contents_tab %}

{% include "wiki/includes/modals.html" %}

{% addtoblock "js" %}
<script type="text/javascript" src="{{ STATIC_URL }}wiki/js/diffview.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}wiki/js/diff.js"></script>
<script type="text/javascript">

$(document).ready(function(){
  
  $('input[type=radio]').change(function(event){
    $('#btnMerge').removeAttr('disabled');
    $('#btnSwitch').removeAttr('disabled');
  });

  $('#btnMerge')
    .attr('disabled', 'disabled')
    .click(function(event) {
    
    var $radio = $('input[type=radio]:checked');
    
    if ($radio.length == 1) {
      this.form.target='mergeWindow';
      this.form.action=$radio.attr('merge-button-href');
      $('.merge-revision-commit').attr('href', $radio.attr('merge-button-commit-href'));
      $('#mergeModal').modal('show');
    }
    else {
      alert('Please select a revision.');
    }
      
  });
    
  $('#btnSwitch')
    .attr('disabled', 'disabled')
    .click(function(event) {
      
      var $radio = $('input[type=radio]:checked');
      
      if ($radio.length == 1) {
        this.form.target='previewWindow';
        this.form.r.value=$radio.attr('revision-id');
        this.form.action=$radio.attr('preview-button-href');
        
        $('#previewModal .switch-to-revision').attr('href', $radio.attr('switch-button-href'));
        $('#previewModal').modal('show');  
      }
      else {
        alert('Please select a revision.');
      }
    
  });

});

</script>
{% endaddtoblock %}

{% addtoblock "css" %}
<style type="text/css">
  td.linenumber {
    width: 20px;
  }
  tr.insert td {
    background-color: #DFC;
  }
  tr.delete td {
    background-color: #FDC;
  }
  tr.equal td {
    background-color: #F2F2F2;
  }
  
  .diff-container td {
    white-space: pre; font-family: monospace;
  }
  .diff-container td,
  .diff-container th {
    padding: 2px 7px;
    border-right: 1px solid #DDD;    
  }
  .diff-container td:last-child,
  .diff-container th:last-child {
    border-right: none;
  }
  .diff-container table {
    border-top: 1px solid #DDD;    
  }
</style>
{% endaddtoblock %}

<p class="lead">
  {% trans "Click each revision to see a list of edited lines. Click the Preview button to see how the article looked at this stage. At the bottom of this page, you can change to a particular revision or merge an old revision with the current one." %}
</p>

<form method="GET">
  <div class="tab-content" style="overflow: visible;">
    {% for revision in revisions %}
      <div class="accordion" id="accordion{{ revision.revision_number }}">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" style="float: left;" href="#collapse{{ revision.revision_number }}" onclick="get_diff_json('{% url 'wiki:diff' revision.id %}', $('#collapse{{ revision.revision_number }}')); event.preventDefault();">
              {% if revision == article.current_revision %}
                <i class="icon-flag"></i>
              {% else %}
                <i class="icon-plus"></i>
              {% endif %}
              {% include "wiki/includes/revision_info.html" with current_revision=article.current_revision %}
              <div class="wiki-revision-messages">
                {% if revision.user_message %}
                  {{ revision.user_message }}
                {% elif revision.automatic_log %}
                  {{ revision.automatic_log }}
                {% else %}
                  ({% trans "no log message" %})
                {% endif %}
              </div>
            </a>
            <div class="progress progress-striped active" style="display: none; width: 40px; float: left; margin-top: 7px; margin-bottom: -7px;">
              <div class="bar" style="width: 100%;"></div>
            </div>
            <div class="pull-right" style="vertical-align: middle; margin: 8px 8px;">
              {% if revision == article.current_revision %}
              <a href="#" class="btn disabled">
                <span class="icon-lock"></span>
                {% trans "Preview this revision" %}
              </a>
              {% else %}
              <button type="submit" class="btn" onclick="$('#previewModal').modal('show'); this.form.target='previewWindow'; this.form.r.value='{{ revision.id }}'; this.form.action='{% url 'wiki:preview_revision' article.id %}'; $('#previewModal .switch-to-revision').attr('href', '{% url 'wiki:change_revision' path=urlpath.path article_id=article.id revision_id=revision.id %}')">
                <span class="icon-eye-open"></span>
                {% trans "Preview this revision" %}
              </button>
              {% endif %}
              
              {% if article|can_write:user and not article.current_revision.locked %}
              <input type="radio"{% if revision == article.current_revision %} disabled="true"{% endif %} style="margin: 0 10px;" value="{{ revision.id }}" name="revision_id" preview-button-href="{% url 'wiki:preview_revision' article.id %}" switch-button-href="{% url 'wiki:change_revision' path=urlpath.path revision_id=revision.id %}" merge-button-href="{% url 'wiki:merge_revision_preview' article_id=article.id revision_id=revision.id %}" merge-button-commit-href="{% url 'wiki:merge_revision' path=urlpath.path article_id=article.id revision_id=revision.id %}" revision-id="{{ revision.id }}" />
              {% endif %}
              
            </div>
            <div style="clear: both"></div>
          </div>
          <div id="collapse{{ revision.revision_number }}" class="accordion-body collapse">
            <div class="accordion-inner diff-container" style="padding: 0;">
              <dl class="dl-horizontal">
                <dt>{% trans "Auto log:" %}</dt>
                <dd>{{ revision.automatic_log|default:"-"|linebreaksbr }}</dd>
              </dl>
              <table class="table table-condensed" style="margin: 0; border-collapse: collapse;">
                <thead>
                  <tr>
                    <th class="linenumber">{% if revision.previous_revision %}#{{revision.previous_revision.revision_number}}{% endif %}</th>
                    <th class="linenumber">#{{revision.revision_number}}</th>
                    <th>{% trans "Change" %}</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    
    {% include "wiki/includes/pagination.html" %}
    
    {% if revisions.count > 1 and article|can_write:user and not article.current_revision.locked %}

    <div class="form-actions">
      <div class="pull-right">
        <button id="btnMerge" type="submit" name="preview" value="1" class="btn">
          <span class="icon-random"></span>
          {% trans "Merge selected with current..." %}
        </button>
        <button id="btnSwitch" type="submit" name="save" value="1" class="btn btn-danger">
          <span class="icon-repeat icon-white"></span>
          {% trans "Switch to selected version" %}
        </button>
      </div>
    </div>
    
    {% endif %}
    
  </div>
  <input type="hidden" name="r" value="" />
  
  <div class="modal modal-full hide fade" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="previewModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3 id="previewModalLabel">{% trans "Preview" %}</h3>
    </div>
    <div class="modal-body">
      <iframe name="previewWindow" frameborder="0"></iframe>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">
        {% trans "Close" %}
      </a>
      {% if article|can_write:user %}
      <a href="#" class="btn btn-danger switch-to-revision">
        <span class="icon-repeat icon-white"></span>
        {% trans "Switch to this version" %}
      </a>                    
      {% else %}
        <a href="#" class="btn btn-danger disabled">
          <span class="icon-lock icon-white"></span>
          {% trans "Switch to this version" %}
        </a>                    
      {% endif %}
    </div>
  </div>

  <div class="modal modal-full hide fade" id="mergeModal" tabindex="-1" role="dialog" aria-labelledby="previewModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>{% trans "Merge with current" %}</h3>
      <p><span class="icon-info-sign"></span> {% trans "All data will be retained from both versions and merged at its approximate location from each revision." %} <strong>{% trans "After merging, please do a manual review." %}</strong></p>
    </div>
    <div class="modal-body">
      <iframe name="mergeWindow" frameborder="0"></iframe>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">
        {% trans "Close" %}
      </a>
      {% if article|can_write:user %}
      <a href="#" class="btn btn-danger merge-revision-commit">
        <span class="icon-file icon-white"></span>
        {% trans "Create new merged version" %}
      </a>                    
      {% else %}
        <a href="#" class="btn btn-danger disabled">
          <span class="icon-lock icon-white"></span>
          {% trans "Create new merged version" %}
        </a>                    
      {% endif %}
    </div>
  </div>
</form>
  
{% endblock %}

