body {
  margin:  1em;
  border:  0;
  padding: 0;
  background: white;
  color:      black;
  font-family: "Times Roman", times, serif;
}

.tt {
  font-family: monospace;
}

div.flagClass > h2 {
  border-bottom: 1px dotted black;
  width: 80%;
  font-family: sans-serif;
}

div.flagDesc {
  clear: both;
  background-color: rgb(255, 245, 220);
  border: 1px solid blue; /* XXX This is for debugging */ 
  margin: 0 auto;
  width: 90%;
}

li.flagName {
  font-weight: bold;
  width: 100%;
  border-bottom: 1px solid black;
  display: block;
  margin: 0.5em 0 0.5em 0;
  font-size: 125%;
  white-space: nowrap;
}

/* (presumably short) informationals all get grouped together near the top
 * of the flag description block.
 */
.flagOrigin, .flagDescClass, .flagDescCompiler, .flagDescRE, .flagDescParallel, .flagVar {
  border-left: 1px solid black;
  border-right: 1px solid black;
  float: left;
  padding: 0.25em;
  margin: 0 0 0.25em 0;
}

.flagDescClass::before {
  content: "Flag Class: ";
}
.flagDescCompiler::before {
  content: "Compilers that recognize this flag: ";
}
.flagDescRE::before {
  content: "Regular Expression: ";
}
.flagDescParallel::before {
  content: "Indicates automatic parallelization: ";
}
.flagVar::before {
  content: "Found In: ";
}

span.flagDescInc {
  border-bottom: 1px solid black;
}

/* The description text stands alone. */
.descText {
  clear: both;
  padding: 0.5em 1em 0.5em 1em;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 0.5em 0 0.5em 0;
}

/* This is a separate class so that in the print style sheet it can
 * be ignored.
 * Also, 'style="clear:both;"' is longer than 'class="clear"'
 */
.clear {
  clear: both;
}

/* This is really for the link _to_ the flag report */
li.unknown > a:link, a:visited { text-decoration: none; }

.monospace {
  font-family: Courier, "Courier New", monospace;
}

ul.flagDescList {
  clear: both;
  list-style-type: none;
}

/* Arrange for each flag description to have some headroom. */
ul.flagDescList > li {
  margin: 2em 0 0 0;
}

ul.flagDesc {
  list-style-type: none;
}

div.flagTOC {
  border: 1px solid white;
  padding: 0.5em 1em;
  margin: 0 auto;
  width: 80%;
}

ul.flagTOC {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.flagTOC > li {
  border: 1px solid white; /* rgb(211, 211, 211); */
  margin: 0;
  padding: 0.25em 0 0.25em 0;
  float: left;
  display: inline-block; /* Fix IE bug; compliant browsers will ignore this */
  width: 24.3%;
  min-height: 1.5em;
  overflow: hidden; /* If the table gets squeezed too much, don't let the
                     * text overlap
                     */
  white-space: nowrap;
}

ul.SubMenu li {
  border: 1px solid white; /* rgb(211, 211, 211); */
}

ul.SubMenu {
  display: none;
  position: absolute;
  list-style-type: none;
  border: 1px solid black;
  background-color: white;
  margin: 0 0 0 2em;
  padding: 0.25em 5em 0.25em 0.5em;
  white-space: nowrap;
}

li:hover > ul.SubMenu, ul.SubMenu:hover {
  display: block;
}

ul.SubMenu > li:hover, ul.flagTOC > li:hover {
  background-color: rgb(176, 196, 238); /* lightsteelgray... almost */
  border: 1px solid rgb(128, 128, 128);
}


.resultpage a:link, .resultpage a:visited {
  text-decoration: none;
  border-bottom: 1px dashed black;
  color: inherit;
}

.resultpage {
  margin: auto;
  padding: 0;
  width: 800px;
}

div.logo {
  float: left;
  width: 38px;
  height: 57px;
}

.titlebarcontainer, .resultstable, .ncsection {
  border: solid 1px;
  width: 100%;
  float: left;
}

.ncsection {
  background-color: white;
  color: black;
}

.titlebar {
  float: left;
  padding: 0em 1em 0em 1em;
  text-align: center;
  width: 91%;
}

div.titlebar > h1, div.titlebar > p {
  margin: 0 1em 0 1em;
}

div.ncsection {
  font-size: 150%;
  font-weight: bold;
  text-align: center;
}

.systembar {
  float: left;
  width: 65%;
  font-size: 150%;
  margin: 0;
  padding: 0.1em;
  border-right: solid 1px black;
}

.metricbar {
  padding: 0.1em;
  margin: 0;
  float: right;
  width: 33%;
  height: 50%;
  font-size: 120%;
}

.metricbar#base {
  background-color: #c8c8c8;
  color: black;
}

.metricbar#peak {
  background-color: transparent;
  color: #2626b3;       /* peak blue */
}

.metricbar p {
  margin: 0;
  padding: 0.2em;
}

.datebar p, .systembar p {
  margin: 0;
  padding: 0;
}

/* Datebar stuff for older results */
.datebar p {
  float: left;
  border-left: solid 1px black;
}

span.item {
  float: left;
  margin: 0;
  padding: 0.1em 0 0.1em 0.5em;
}

span.value {
  float: right;
  padding: 0.1em 0.5em 0.1em 0;
}

div.datebar {
  width: 100%;
  float: left;
  min-height: 100%;
  border: solid 1px black;
}

p#test_sponsor         { width: 48%; }
p#tester               { width: 48%; }
p#license_num          { width: 24%; }
p#test_date            { width: 23%; }
p#hw_avail, p#sw_avail { width: 25%; }

/* Table-based datebar on newer results */
table.datebar {
  float: left;
  width: 100%;
  min-height: 100%;
  border-collapse: collapse;
  border: solid 1px black;
  table-layout: fixed;
}

table.datebar th {
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 0.5em;
  padding: 0 0.5em 0 0.25em;
}

table.datebar td {
  text-align: left;
  padding: 0 0.5em 0 0;
}

th#license_num          { width: 17%; }
th#test_sponsor         { width: 17%; }
th#tester               { width: 17%; }
th#test_date            { width: 22%; }
th#hw_avail             { width: 22%; }
th#sw_avail             { width: 22%; }
td#license_num_val      { width: 52%; }
td#test_sponsor_val     { width: 52%; }
td#tester_val           { width: 52%; }
td#test_date_val        { width: 13%; white-space: nowrap; }
td#hw_avail_val         { width: 13%; white-space: nowrap; }
td#sw_avail_val         { width: 13%; white-space: nowrap; }


div.graph {
  margin: auto;
}

div.sysdesc > h2 {
  text-align: center;
  background-color: #c8c8c8;
  color: black;
  padding: 0.5em 0 0.5em 0;
  margin: 0;
} 
  
div.sysdesc {
  margin: 0.5em 0 0.5em 0;
}

div.infobox, div.sysdesc {
  float: left;
  width: 100%;
  padding: 0;
  border: solid 1px black;
}

div.infobox table {
  width: 49%;
  float: left;
}

div.infobox table tr {
  vertical-align: top;
}

div.infobox table#Hardware,
div.infobox table#BenchmarkSoftware {
  width: 50%;
  border-right: 1px solid black;
}

div.infobox table#Systems {
  width: 100%;
}

div.infobox table#Systems tbody th {
  width: 20%;
}

div.infobox thead th {
  font-size: 200%;
}

div.infobox tbody th {
  text-align: left;
}

.resultstable h2, div.notes h2 {
  text-align: center;
  margin: 0.1em;
}

div.notes h3 {
  margin: 0.1em;
}

div.notes table {
  width: 100%;
}

div.notes table tr td {
  text-align: right;
  vertical-align: top;
}

/* Alas, IE6... if only you didn't suck so much...
div.notes table tr td + td {
*/
div.notes table td.al {
  text-align: left;
  width: 85%;
}

div.notes table tr td {
  padding-bottom: 1em;
}

div.notes table.portability tr td {
  padding: 0em;
}

div.notes table.portability {
  padding: 1em;
}

.resultstable table {
  width: 100%;
  border-collapse: collapse;
}

.resultstable th.basecol, .resultstable th.peakcol {
  padding: 0.1em;
  font-size: 90%;
}

.resultstable th {
  border: solid 2px black;
}

.resultstable td {
  border: solid 1px #b8b8b8;
}

td.bm, th.bm { 
  border-right: solid 2px black;
  border-left: solid 2px black;
}

td.secs { 
  border-left: solid 2px black;
}

td.ratio { 
  border-right: solid 2px black;
}

.resultstable tfoot td {
  text-align: center;
  border: solid 2px black;
}

th.basecol {
  background-color: #c8c8c8;
  color: black;
}
td.basecol {
  text-align: right;
  background-color: transparent;
  color: black;
}

th.peakcol {
  text-align: center;
}

.peakcol {
  background-color: transparent;
  color: #2626b3;       /* peak blue */
  text-align: right;
}

td.bm {
  /* Basically, the benchmark name and copies columns */
  background-color: #c8c8c8;
  color: black;
}

span.selected {
  font-weight: bold;
  text-decoration: underline;
}

.selected a:link, .selected a:visited {
  border-bottom: 0;
}

div.notes {
  width: 100%;
  float: left;
  border: solid 1px black;
}

div.flagfooter {
  text-align: center;
}

div.errors {
  border: solid 2px red;
}
div.errors h2 {
  background-color: transparent;
  color: red;
}

div.footer {
  border: none;
}

/* People find the "double underline" confusing.  And Safari 1.3 doesn't deal
 * well with attempting to disable the border for userflag links.  So just
 * give up and don't decorate user flags specially.
********************
span.userflag {
  text-decoration: underline;
}

.userflag a:link {
  border-bottom: 0;
}
********************
*/

/* Keep flags from being wrapped */
span.userflag, span.flagtext {
  white-space: nowrap;
}
