.experiment-wizard {
  .error {
    color: red;
  }
  .gray {
    color: silver;
  }

  .slider-container {
    margin-top: 1em;
    p {
      position: relative;
      top: -15px;
      z-index: 1000;
    }
  }

  .well {
    .badge {
      margin-left: 10px;
    }
  }

  .count {
    padding-top: .5em;
  }

  legend {
    font-weight: bold;
    .caption {
      font-weight: lighter;
      font-size: 65%;
    }
  }

  .min, .max {
    width: 50px;
    text-align: center;
  }

  #id_description {
    width: 60%;
  }
}