.experiment-wizard .error {
  color: red;
}
.experiment-wizard .gray {
  color: silver;
}
.experiment-wizard .slider-container {
  margin-top: 1em;
}
.experiment-wizard .slider-container p {
  position: relative;
  top: -15px;
  z-index: 1000;
}
.experiment-wizard .well .badge {
  margin-left: 10px;
}
.experiment-wizard .count {
  padding-top: .5em;
}
.experiment-wizard legend {
  font-weight: bold;
}
.experiment-wizard legend .caption {
  font-weight: lighter;
  font-size: 65%;
}
.experiment-wizard .min,
.experiment-wizard .max {
  width: 50px;
  text-align: center;
}
.experiment-wizard #id_description {
  width: 60%;
}
