html {background-color: #f5f5f5;}
body {background-color: #fff;}
a {
  color: #c10;
  text-decoration: none;
}
a:hover {
  color: #c10;
  text-decoration: underline;
}

/*--- header & footer ---*/
.header, .footer {
	background: #f5f5f5;
	padding: 20px 0;
}
.header {
	margin-bottom: 20px;
	border-bottom: solid 1px #ccc;
	box-shadow: 0 1px 2px #ccc;
}
.header .navbar {margin-bottom: 0;}
.logo {
	display:block;
	background:url(../img/logo.png) no-repeat left center;
	width: 157px; height: 42px;
	text-indent: -1337em;
}
.footer {
	margin-top: 20px;
	border-top: solid 1px #ccc;
	box-shadow: 0 -1px 2px #ccc;
	color: #666;
}
.footer .container {text-align: center;}
.footer .links {margin: 0;}
.footer .links li {display: inline; margin: 0 .5em;}

/*--- components ---*/
h1 {font-size: 30px; color: #566; /*color: #d94a28;*/}
h2 {color: #677;}
h1, h2 {font-weight: normal;}

ul.papers {list-style: none; margin: 0;}
ul.papers li {border-bottom: solid 1px #ccc; margin-bottom: 10px; padding-bottom: 10px;}

/*** TODO: cleanup styles below ***/

.element-invisible {
  position: absolute !important;
  height: 1px; width: 1px; 
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
.text-right {text-align: right;}
.text-center {text-align: center;}

.right {
  float: right;
}

/* to remove eventually */
.clearfloat {clear: both;}
/* end to remove eventually */

/*--- homepage ---*/
.home {
	background:url(../images/background.jpg) no-repeat top center #5b88c3;
	padding-bottom: 2em;
}
.home .shadow:after {display: block; content: ''; background:#3d68a8; width:auto; margin: 0 6px; height:6px; opacity:0.5;}
.home .row {margin-top: 2em;}
.lead { color: #777; }
.well.lead { min-height: 3em;}

/*--- header ---*/

#header {
	border-bottom: solid 2px #ddd;
	padding: 2em 0 .5em;
	box-shadow: 0 0 16px #ccc;
}
.home #header {background:#fff; padding: 1em 0 2em; border-bottom: none; box-shadow: none;}
#header h1 {margin: 0;}
#header a.btn {text-decoration: none;}
.home .logo {margin-top: 0; margin-left: 20px;}

.home .form-login {position: relative;}
.login-openid {position: absolute; bottom: 0; left: 3em;}

.navbar ul.nav {width: 100%;}
.navbar ul.nav .logout {float: right;}

/*--- forms ---*/
.form-user .control-group { padding-right: 2em;}
.form-user .control-group a { margin-left: 2em; font-size: 80%; }
.form-user .control-group a.inline { margin-left: 0; }

.alert.alert-login {margin-top: 27px; margin-bottom: 0;}

.openid-providers {margin: 0 0 20px 0;}
.openid-providers form {margin-bottom: 20px; display: inline;}
.openid-providers form img {height: 24px;}
.openid-providers form .Yahoo img {height: 16px; padding: 4px 0;}

/*--- worker details ---*/
.worker-attribute, .job-attribute {width: 200px; min-width: 200px; font-weight: bold;}
.worker-value, .job-value {width: 700px; max-width: 700px; word-wrap: break-word;}

/*--- wizard ---*/
.add-file {margin-bottom: 10px;}
ul.errorlist, ul.errorlist ul {list-style-type: none; margin: 0}
.experiment-wizard .submit {float: right;}
.well.well-small.no-pad {padding: 0;}
.factor {padding: 9px; }
/*.factor:hover {background-color: #fcf8e3;}*/
.factor label {font-weight: bold;}
.factor-description {margin-bottom: 12px;}
.factor .label {
	font-size: 1em;
	color: #000;
	text-shadow: none;
	padding-left: 5px; padding-bottom: 0;
	margin-bottom: 10px;
	background-color: #eee;
	border: solid 1px #ccc;
}
.factor .label.checkbox input[type="checkbox"] {margin: 0 5px 0 0; padding: 0;}
/*.factor .label.checkbox input[disabled="disabled"] {margin-right: 4em;}*/
.factor .coverage {margin-bottom: 10px;}
.factor .checkbox.inline {font-weight: normal; min-width: auto;}
.factor .disabled {cursor: not-allowed; color: #555;}
.factor .label.checkbox.disabled {color: #474;}
.factor :checked + span {
	text-decoration: line-through;
	color: #900;
}
#stepDesc1 span {margin-left:-8px;}

#steps div.bar {
  width: 0%;
  height: 100%;
  color: #000;
  float: left;
  font-size: 12px;
  text-align: center;
  text-shadow: none;
  background-color: transparent;
	background-image: none;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: width 0.6s ease;
  -moz-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}
#steps div.bar.current {
  font-weight: bold;
	width: 0%;
  height: 100%;
  color: #ffffff;
  float: left;
  font-size: 12px;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #047cb8;
  background-image: -moz-linear-gradient(top, #149bdf, #047cb8);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#047cb8));
  background-image: -webkit-linear-gradient(top, #149bdf, #047cb8);
  background-image: -o-linear-gradient(top, #149bdf, #047cb8);
  background-image: linear-gradient(to bottom, #149bdf, #047cb8);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff047cb8', GradientType=0);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: width 0.6s ease;
  -moz-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}
#steps #stepDesc0 {width: 33%;}
#steps #stepDesc1 {width: 34%;}
#steps #stepDesc2 {width: 33%;}

.wizard .constraints .span3 {width: 219px; border-right: solid 1px #eee;}
.wizard .form-actions {background: transparent;}
.stepcommands {position: relative;}
.wizard .nav-pills > .active > a {font-weight: bold;}


#step0 { padding-top:35px; }
.stepcommands .next, .stepcommands .prev {margin:20px;}
.stepcommands .next {display:block; float:right;}
.stepcommands .prev {display:block; float:left;}
#SignupForm .submit {
	float:right;
	position: relative;
	top: -7.5em;
	left: -2.5em;
}

#accordion1 li {display: block;}
#accordion1 > li:first-child, #accordion2 > li:first-child {border-top:none;}
.wizard ul.nav.secondtabs {display:none;}
.wizard ul.nav li a {cursor: pointer;}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

.wrap {position:relative;}
.pane {display:none;}
.pane h2 {margin-top: 0;}

.estimatedjobs {
	position:absolute;
	bottom:30px;
	width:400px;
	left: 280px;
	font-weight:bold;
	font-size:14px;
	color:#da4b29;
	text-align:center;
}
/* experiment details page */
.experiment-details, .field-uploaded {
	font-size: 1.4em;
}
.field-uploaded {
	color: #666;
	margin: 1em 0;
}
.experiment-details .field-name {
	display: block;
	font-weight: normal;
	margin-bottom: 10px;
	border-bottom: solid 1px #ddd;
}
.field-value.status {
	font-size: 1em;
	line-height: 1.4em;
}
.field-value .progress {
	height: 1.6em;
	margin-bottom: 10px;
}
.field-value .progress .bar {
	font-size: 1em;
	line-height: 1.8em;
	font-weight: bold;
}
.field-runtime {
	color: #666;
	font-size: .85em;
}

.button-outer {
    font-weight: bold;
    vertical-align: bottom;
}

.img-link {
    text-decoration: none;
}

.img-link > a {
    display:inline-block;
}

/* tipsy plugin */
.tipsy { font-size: 10px; position: absolute; padding: 5px; z-index: 100000; }
  .tipsy-inner { background-color: #000; color: #FFF; max-width: 200px; padding: 5px 8px 4px 8px; text-align: center; }

  /* Rounded corners */
  .tipsy-inner { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }

  /* Uncomment for shadow */
  /*.tipsy-inner { box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000; }*/

  .tipsy-arrow { position: absolute; width: 0; height: 0; line-height: 0; border: 5px dashed #000; }

  /* Rules to colour arrows */
  .tipsy-arrow-n { border-bottom-color: #000; }
  .tipsy-arrow-s { border-top-color: #000; }
  .tipsy-arrow-e { border-left-color: #000; }
  .tipsy-arrow-w { border-right-color: #000; }

	.tipsy-n .tipsy-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
    .tipsy-nw .tipsy-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
    .tipsy-ne .tipsy-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent;}
  .tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-se .tipsy-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
  .tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
  .tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }

.required:after { content:" *"; color: red}

.job-output textarea{
    width: 680px;
}

.icon-true {
    background: url(../img/yes.png) no-repeat left center;
    display: block;
    width: 16px;
    height: 16px;
}

.icon-false {
    background: url(../img/no.png) no-repeat left center;
    display: block;
    width: 16px;
    height: 16px;
}

.time:after {
    content: "s"
}

.factor-verify th{
    width: 24%;
}

.formdecorator {
    list-style: none;
    margin: 0;
    padding: 0;
}

.formdecorator li {
    clear: both;
    margin-bottom: 1em;
}

.formdecorator input {
    margin-right: 20px;
}

.formdecorator label {
    display: block;
    width: 250px;
    float: left;
    margin: 2px 4px 6px 4px;
    text-align: right;
}

.experiment-graph .highcharts-container, .worker-histogram .highcharts-container {
    width: 700px !important;
}

.tab-pane > div {
    position: relative;
}

.tab-pane > div > div.center {
    margin: auto;
    position: absolute;
    width: 10em;
    height: 2em;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: rgb(170, 170, 170);
    text-shadow: rgba(255, 255, 255, 0.901961) 1px 1px 0px;
}

.news h3 {
    font-weight: 200;
    text-transform:capitalize;
}

.news h2 {
    color: #8c5f93;
}

.news {
    font-family: 'Droid Sans', Ubuntu, Verdana, 'DejaVu Sans', Arial, sans-serif;
}

.news .body {
  color: dimgray;
}

.large-logo-banner img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
}

.logos img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.logos img.large{
  width: 300px;
}

.logos {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  -webkit-column-width: 200px;
     -moz-column-width: 200px;
          column-width: 200px;
}
