.navbar ul.nav .wiki-search {float: right; padding: 0 10px;}
#article-breadcrumbs {
    background-color: #f5f5f5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 0 0 20px;
}
#article-breadcrumbs .breadcrumb { margin: 0; }
.nav .article-info .dropdown-toggle .caret { margin-left: 0; border-top-color: #000; border-bottom-color: #000; }
.article-info .btn-group {margin-top: -3px;}

#article-title {margin-bottom: 0;}
.article-info {white-space: nowrap; margin-top: 7px;}
.article-bookmark {margin-left: 7px;}
.article-locked {white-space: nowrap; color: #566; margin-left: 7px;}
.article-children .btn {border-top-right-radius: 0; border-bottom-right-radius: 0; padding: 4px 6px;}
.article-create-new.btn-group {margin-left: -4px;}
.article-create-new .btn, .article-create-new.btn-group > .btn:first-child {border-top-left-radius: 0; border-bottom-left-radius: 0; padding: 4px 6px;}

[class^="icon-"], [class*=" icon-"] {margin-top: -1px;}
.alert {padding: 8px 36px 8px 16px;}
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"] {
    background-image: url("../img/glyphicons-halflings.png");
}

.accordion-toggle:hover {
    text-decoration: none;
    background-color: #eee;
    border-radius: 4px;
}
.wiki-revision-messages {
    color: #333;
    margin-left: 14px;
}

.sidebar-actions h3, .sidebar-actions h4 { font-size: 12px; }
.input-append .search-query {
    border-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.sidebar-actions .search-query {width: 160px;}

#div_id_unzip_archive label, #id_unzip_archive {float: left; margin-right: 10px;}
#div_id_unzip_archive .help-block {clear: both;}

.restore-attachment {
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.wiki-search-results a {display: block; border-radius: 4px; padding: 0 4px; margin-left: -4px;}
.wiki-search-results a:hover {text-decoration: none; background-color: #eee;}
.wiki-search-snippet {color: #444;}
.wiki-search-snippet strong {background-color: #ff9;}

h3 {font-weight: normal; color: #566;}
h4, h5, h6 {font-weight: normal; color: #677;}
h4 {font-size: 18px;}
h5 {font-size: 16px;}
h6 {font-size: 14px;}

.article-list .nav-header {padding: 0; font-size: 12px; color: #566; line-height: 14px; margin: 0 0 4px;}
.article-list, .toc {
    border: solid 1px #ccc;
    border-radius: 4px;
    padding: 10px;
    display: inline-block;
    margin-bottom: 20px;
}
.toc:before {
    display: block;
    content: "Contents";
    font-weight: bold;
    text-transform: uppercase;
    color: #566;
    margin: 0 0 4px;
}
.article-list ul, .toc ul {margin: 0 0 0 16px; list-style: disc; color: #aaa;}
.article-list > ul, .toc > ul {list-style: none; margin-left: 0;}

.modal-full {width: 100%; max-width: 1000px; margin-left: 0; min-height: 300px;}
.modal-full iframe {width: 100%; height: 95%;}
.modal-full .modal-body {max-height: none; padding: 0 0 0 10px; position: relative;}
.modal-full .iframe-loader {
    position: absolute; top: 0; left: 10px;
    font-weight: bold;
    padding-left: 24px;
    background-image: url('../img/loader.gif');
    background-repeat: no-repeat;
    background-position: 4px 10px;
}
