{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}

  <h1>About</h1>
  <div class="row">
    <div class="span6">
      <h2>Rigorous performance evaluation made easy</h2>
      <p>Empirical systems research is facing a dilemma. Minor aspects of an experimental setup can have a significant impact on its associated performance measurements and potentially invalidate conclusions drawn from them. Examples of such influences, often called hidden factors, include binary link order, process environment size, compiler generated randomized symbol names, or group scheduler assignments. The growth in complexity and size of modern systems will further aggravate these issues, especially with the given time pressure of producing results. So how can one trust any reported empirical analysis of a new idea or concept in computer science?</p>
      <p>DataMill is a community-based, easy-to-use, open benchmarking infrastructure for performance evaluation. DataMill facilitates producing robust, reliable, and reproducible results. The infrastructure incorporates the latest results on hidden factors and automates the variation of these factors.</p>
      <p>DataMill is hosted and developed by the <a href="http://esg.uwaterloo.ca/">Real-Time Embedded Software Group</a> at the University of Waterloo. Contact us at &lt;<a href="mailto:datamill@uwaterloo.ca">datamill@uwaterloo.ca</a>&gt;.</p>
    </div>
    <div class="span6">
      <h2>People</h2>
      <ul>
        <li>
        <span>Prof. Sebastian Fischmeister &lt;<a href="mailto:sfischme@uwaterloo.ca">sfischme@uwaterloo.ca</a>&gt;</span>
        </li>
        <li>
          <span>Amir Reza Ghods &lt;<a href="mailto:arghods@uwaterloo.ca">arghods@uwaterloo.ca</a>&gt;</span>
        </li>
        <li>
          <span>Augusto Born de Oliveira &lt;<a href="mailto:a3olivei@uwaterloo.ca">a3olivei@uwaterloo.ca</a>&gt;</span>
        </li>
        <li>
          <span>Jean-Christophe Petkovich &lt;<a href="mailto:j2petkov@uwaterloo.ca">j2petkov@uwaterloo.ca</a>&gt;</span>
        </li>
        <li>
          <span>Thomas Reidemeister &lt;<a href="mailto:treideme@uwaterloo.ca">treideme@uwaterloo.ca</a>&gt;</span>
        </li>
        <li>
          <span>Yuguang Zhang &lt;<a href="mailto:y279zhan@uwaterloo.ca">y279zhan@uwaterloo.ca</a>&gt;</span>
        </li>
      </ul>

      <h2>Associated research papers</h2>
      <ul class="papers">
        <li>
          <span class="biblio-authors">A. Oliveira, J-C. Petkovich, T. Reidemeister, and S. Fischmeister,</span> 
          <span class="biblio-title">"<a href="https://uwaterloo.ca/embedded-software-group/publications/datamill-rigorous-performance-evaluation-made-easy">DataMill: Rigorous Performance Evaluation Made Easy</a>",</span> 
          <i>Proceedings of the 4th ACM/SPEC International Conference on Performance Engineering (ICPE 2013)</i>, Prague, Czech Republic, April, 2013.
        </li>
        <li>
          <span class="biblio-authors">A. Oliveira, S. Fischmeister, A. Diwan, M. Hauswirth, and P. Sweeney,</span> 
          <span class="biblio-title">"<a href="https://uwaterloo.ca/embedded-software-group/publications/why-you-should-care-about-quantile-regression">Why You Should Care About Quantile Regression</a>",</span>
          <i>Proceedings of the Eighteenth International Conference on Architectural Support for Programming Languages and Operating Systems (ASPLOS 2013)</i>, Houston, USA, March, 2013.
        </li>
        <li>
          <span class="biblio-authors">A. Oliveira, J-C. Petkovich, T. Reidemeister, and S. Fischmeister,</span>
          <span class="biblio-title">"<a href="https://uwaterloo.ca/embedded-software-group/publications/how-much-does-memory-layout-impact-performance-wide-study">How Much Does Memory Layout Impact Performance? A Wide Study</a>",</span>
          <i>Workshop on Reproducible Research Methodologies (REPRODUCE 2014)</i>, Orlando, Florida, USA, February 2014.
        </li>
      </ul>
    </div>
  </div>
{% endblock content %}
