<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %} | DataMill</title>
        {% load static %}
        <link type="text/css" rel="stylesheet" media="all" href="{% static "css/bootstrap.css" %}" />
        <link type="text/css" rel="stylesheet" media="all" href="{% static "css/style.css" %}?v={{ MEDIA_VERSION }}" />
        <link type="text/css" rel="stylesheet" media="all" href="{% static "css/jquery-wijmo.css" %}" />
        <link type="text/css" rel="stylesheet" media="all" href="{% static "css/jquery.wijmo-open.3.20131.6.css" %}" />
        <link type="text/css" rel="stylesheet" media="all" href="{% static "css/create-experiment.css" %}?v={{ MEDIA_VERSION }}" />
    </head>
    <body>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            
            ga('create', 'UA-40196724-1', 'uwaterloo.ca');
            ga('send', 'pageview');
        </script>
        
        <header class="header">
            <div class="container">
                <div class="row">
                    <div class="span3">
                        <a class="logo" href="/">DataMill</a>
                    </div>
                    {% if user.is_authenticated %}
                    <div class="span9">
                        <div class="navbar">
                            <div class="navbar-inner">
                                <ul class="nav">
                                    <li><a href="/experiments">Experiments</a></li>
                                    <li><a href="/jobs">Jobs</a></li>
                                    <li><a href="/workers">Workers</a></li>
                                    <li><a class="wiki-link" href="/wiki">Wiki</a></li>
                                    <li class="dropdown logout">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            Account
                                            <b class="caret"></b>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="/logout">Log out</a></li>
                                            <li><a href="{% url 'password_change' %}">Change Password</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </header>

        <div class="container">

        {% if warning %}
            <div class="alert alert-error">
                {{ warning }}
            </div>
        {% endif %}
            {% block content %}{% endblock %}
        </div>
        
        <footer class="footer">
            <div class="container">
                <ul class="links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about/">About</a></li>
                    <li><a href="/wiki/">Wiki</a></li>
                    <li><a href="/sponsors/">Sponsors</a></li>
                    <li><a href="mailto:datamill@uwaterloo.ca">Contact</a></li>
                    <li>Copyright &copy; 2013 DataMill</li>
                </ul>
            </div>
        </footer>

        <script type="text/javascript" src="{% static "js/lib/jquery.js" %}"></script>
        <script type="text/javascript" src="{% static "js/lib/jquery-ui.js" %}"></script>
        <script type="text/javascript" src="{% static "js/lib/underscore.js" %}"></script>
        <script type="text/javascript" src="{% static "js/lib/knockout-2.3.0.js" %}"></script>
        <script type="text/javascript" src="{% static "js/lib/knockout.bindings.js" %}?v={{ MEDIA_VERSION }}"></script>
        <script type="text/javascript" src="{% static "js/lib/sugar-1.4.1.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/lib/bootstrap.min.js" %}"></script>
        {% block scripts %}{% endblock %}
        <script data-main="{% static "js/main.js" %}?v={{ MEDIA_VERSION }}" src="{% static "js/lib/require.js" %}"></script>
    </body>
</html>
