{% extends "base.html" %}

{% block title %}Open benchmarking platform{% endblock %}

{% block content %}
    <h1 class="element-invisible">DataMill Home</h1>
    <h2>Rigorous performance evaluation made easy</h2>
    <div class="row">
        <div class="span7">
            <p class="lead">
                DataMill is a community-based, easy-to-use, <a href="https://bitbucket.org/yuguang/datamill/">open source infrastructure</a> for performance evaluation.
            </p>

            <p class="lead">
                Get started by downloading our <a href="ftp://datamill.uwaterloo.ca/DataMill_Virtual_Worker.ova">Virtual
                Worker Image</a> and packaging your first experiment, then contact
                us by <a href="mailto:datamill@uwaterloo.ca">email</a> or on <a href="https://kiwiirc.com/client/irc.freenode.net/#datamill"
                target="_blank">IRC</a> to run it on the infrastructure. Easy!
            </p>

            <p class="lead">
                <a href="/about">Read more about DataMill</a>.
            </p>
            <p class="lead">
                <a href="/institutions">See our list of participating institutions</a>.
            </p>
        </div>
        <div class="span5">
            <div class="well lead">
                {% if user.is_authenticated %}
                    Welcome, {{ user.username }}!
                {% else %}
                    {% if not user.is_authenticated %}
                        {% if form.errors %}
                            <div class="alert alert-error">
                                Your username and password did not match. Please try again.
                            </div>
                        {% endif %}

                        <form class="form-user" method="post" action="{% url 'home' %}">

                            <div class="control-group">
                              <span>Log in </span>
                                <a class="right" href="{% url 'create_account' %}">create an account</a>
                            </div>

                            {% csrf_token %}

                            <div class="control-group">
                                <input id="id_username" class="input-block-level"  placeholder="Username" maxlength="254" name="username" type="text"/>
                            </div>

                            <div class="control-group">
                                <input id="id_password" class="input-block-level"  placeholder="Password" name="password" type="password"/>

                            </div>
                            <div class="row">
                                <div class="control-group">
                                    <input type="submit" value="Log in" class="right btn btn-danger"/>
                                    <input type="hidden" name="next" value="{{ next }}"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="control-group">
                                    <a href="{% url 'password_reset' %}">Forgot your password?</a>
                                </div>
                            </div>
                        </form>

                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="news">

        <div class="row">
            <div class="span4"><h2>Latest news</h2></div>
        </div>
    </div>
    {% for news_item in news %}
        <div class="news">

            <div class="row">
                <div class="span10">
                    <h3>{{ news_item.title }}</h3>

                    <p class="body">
                        {{ news_item.body|safe }}
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}

    {% if public_experiments %}

        <h2>Public Experiments</h2>

        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Submitted</th>
                <th>Status</th>
                <th>Completed</th>
                <th>Details</th>
            </tr>
            </thead>
            <tbody>
            {% for e in public_experiments %}
                <tr>
                    <td>{{ e.name }}</td>
                    <td>{{ e.submission_date }}</td>
                    <td>{{ e.get_status_display }}</td>
                    <td>{{ e.get_completion_percentage }} %</td>
                    <td><a href="/experiment/{{ e.id }}">View details</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock content %}
