{% extends "base.html" %}

{% block title %}Sponsors{% endblock %}

{% load static %}

{% block content %}
    <div class="logos">
    <img src="{% static "img/logos/google.jpg" %}" alt="Google logo"/>
    <img src="{% static "img/logos/ibm.jpg" %}" alt="IBM logo"/>
    <img src="{% static "img/logos/nserc_logo_color.jpg" %}" alt="NSERC logo"/>
    <img src="{% static "img/logos/innovation_ca.jpg" %}" class="large" alt="Innovation.ca logo"/>
    </div>
{% endblock %}