{% load i18n %}{% load url from future %}
{% if urlpath %}
<div id="article-breadcrumbs">

<ul class="breadcrumb pull-left">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li><a href="{% url 'wiki:root' %}">Wiki</a> <span class="divider">/</span></li>
  {% for ancestor in urlpath.cached_ancestors %}
    <li><a href="{% url 'wiki:get' path=ancestor.path %}">{{ ancestor.article.current_revision.title|truncatechars:25 }}</a> <span class="divider">/</span></li>
  {% endfor %}
  <li class="active">{{ article.current_revision.title|truncatechars:25 }}</li>
</ul>

<div style="clear: both"></div>
</div>
{% endif %}
