{% load sekizai_tags %}
{% addtoblock "js" %}
<script type="text/javascript" src="{{ STATIC_URL }}wiki/js/jqueryui/jquery-ui-1.10.0.custom.min.js"></script>
<script type="text/javascript">
// $modal: the jQuery modal object
function resizeModal($modal) {
  var windowHeight = $(window).height();
  var windowWidth = $(window).width();
  var leftMargin = (windowWidth - $modal.width()) / 2;
  $modal.css({left: leftMargin});
  $modal.height(windowHeight - 160);
  $('.modal-body', $modal).height($modal.height() - 110);
}

$(document).ready(function() {
  
  $(".modal-full").on("show", function(event) {
    $('<div class="iframe-loader alert">').prependTo('.modal-body', $(this)).text('Loading ... ');
    $('iframe', $(this)).hide();
    resizeModal($(this));
  });
  
  $(window).on('resize', function(event, ui){
    $(".modal-full").filter(":visible").each(function(index, element) {
      resizeModal($(element));
    });
  });
  
  $('iframe', '.modal-full').load(function() {
    $('.iframe-loader', '.modal-full').remove();
    $(this).show();
  });

});
</script>
{% endaddtoblock %}
