{%load i18n %}
<div class="control-group">
    <label class="control-label">
        {% trans choice.internal_name %}
    </label>
    <div class="controls">
        {% for option in choice.get_levels %}
            <label class="checkbox inline">
                <input type="checkbox" value="{{ option }}"
                       data-factor="{{ choice.name }}" data-bind="checked: options.{{ choice.internal_name }}">
                {% trans option %}
            </label>
        {% endfor %}
        <p class="help-block">{{ choice.description }}</p>
    </div>
</div>