{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
    {% if success %}
        <p style="height: 20em">An email has been sent to the admin. We will contact you shortly. Meanwhile, you can read <a href="{% url 'about' %}">more about DataMill</a> and <a href="https://datamill.uwaterloo.ca/wiki/Getting-Started-with-DataMill/">how to get started</a>. </p>
    {% else %}
    <form class="form-horizontal" action="{% url 'create_account' %}" method="post">

        {% csrf_token %}            
        <ul class="formdecorator">
                    <li><label for="id_inst">Institution:</label> <input id="id_inst" name="inst" type="text" /></li>
                    {{ form.non_field_errors }}
                    {{ form.as_ul }}
            <li>
                <label></label>
                <input type="submit" value="Register" class="btn"/>
                        
            </li>
                
        </ul>
    </form>
    {% endif %}
{% endblock %}