{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
    <p>Please specify your email address to receive instructions for resetting it.</p>

    <form class="form-horizontal" action="" method="post">

        {% csrf_token %}
        {{ form.email.errors }}
        <div class="control-group">
            <label class="control-label" for="id_email">E-mail address:</label>

            <div class="controls">
                {{ form.email }}
            </div>
        </div>
        <input type="submit" value="Reset password" class="btn"/>
    </form>
{% endblock %}