{% extends "base.html" %}
{% block title %}Setting New password{% endblock %}

{% block content %}
    {% if validlink %}
        <p>Please enter your new password twice.<br/>
            So we can verify you typed it in correctly.</p>

        <form class="form-horizontal" method="post" action="">

            {% csrf_token %}

            <div class="control-group">
                {{ form.new_password1.errors }}
                <label class="control-label" for="id_new_password1">New password:</label>

                <div class="controls">
                    {{ form.new_password1 }}
                </div>
            </div>

            <div class="control-group">
                {{ form.new_password2.errors }}
                <label class="control-label" for="id_new_password2">Confirm password:</label>

                <div class="controls">
                    {{ form.new_password2 }}
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <input type="submit" value="Change my password" class="btn"/>
                </div>
            </div>

        </form>
    {% else %}
        <h1>Password reset unsuccessful</h1>
        <p>The password reset link was invalid, <br/>
            possibly because it has already been used. <br/>
            Please request a new password reset.</p>
    {% endif %}
{% endblock %}