{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
    <form class="form-horizontal" action="" method="post">

        {% csrf_token %}            
        <ul class="formdecorator">
                    {{ form.non_field_errors }}
                    {{ form.as_ul }}
                    
            <li>
                <label></label>
                <input type="submit" value="Reset password" class="btn"/>
                        
            </li>
                
        </ul>
    </form>
{% endblock %}