{% extends "base.html" %}

{% block title %}Experiments Details{% endblock %}

{% block content %}

<ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    <li><a href="/experiments">Experiments</a> <span class="divider">/</span></li>
    <li class="active">Experiment Details</li>
</ul>


<h1>{{ experiment.name }}</h1>

{% if messages %}
    {% for message in messages %}
    <div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message }}</div>
    {% endfor %}
{% endif %}

    <table class="table" style="font-size: 1.2em; margin-bottom: 0px;">
        <tbody>
        <td><strong>Status</strong></td>
        <td>{{ experiment.get_status_display }}
            {% if experiment.get_status_display == 'Done' %}
                - <a href='/experiment_results/{{ experiment.id }}/'>Download full results</a>
            {% else %}
                - <a href='/experiment_results/{{ experiment.id }}/'>Download partial results</a>
            {% endif %}
        </td>
        </tr>
        <tr>
            <td><strong>Progress</strong></td>
            <td>
                <div class="progress">
                    <div class="bar bar-success"
                         style="width:{{ experiment.get_completion_percentage }}%;">{{ experiment.get_completion_percentage }}%
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td><strong>Job Status</strong></td>
            <td>
                {{ experiment.get_queued_job_count }} queued, {{ experiment.get_in_progress_job_count }} in
                progress, {{ experiment.get_failed_job_count }} failed, {{ experiment.get_cancelled_job_count }}
                cancelled, {{ experiment.get_done_job_count }} done, {{ experiment.get_job_count }} total
            </td>
        </tr>
        <tr>
            <td><strong>Time Elapsed</strong></td>
            <td>
                {{ experiment.get_time_elapsed }}
            </td>
        </tr>
        <tr>
            <td><strong>Submitted</strong></td>
            <td>{{ experiment.submission_date }}</td>
        </tr>

        {% if experiment.get_job_count > 0 %}
            <tr>
                <td><strong>Statistics</strong></td>
                <td>{% if experiment.num_software_factors != -1 %}
                    {{ experiment.num_software_factors }} software factors, {% endif %}
                    {% if experiment.num_hardware_factors != -1 %}{{ experiment.num_hardware_factors }} hardware
                        factors, {% endif %}
                    {{ experiment.replicate_count }} repetitions
                </td>
            </tr>
        {% endif %}
        {% if experiment.description %}
            <tr>
                <td><strong>Description</strong></td>
                <td>
                    {{ experiment.description }}
                </td>
            </tr>
        {% endif %}
        <tr>
            <td><strong>Packages</strong></td>
            <td>
                {% for p in experiment.package_set.all %}
                    {% if p.exists %}
                        <a href='/package/{{ p.id }}/'>{{ p }}</a><br>
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
        {% if experiment.get_cpu_architectures %}
            <tr>
                <td><strong>Architectures</strong></td>
<                <td>
                    {% for arch in experiment.get_cpu_architectures %}
                        {{ arch }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
            <tr>
        {% endif %}
        </tbody>
    </table>

    {% load guardian_tags %}
    {% get_obj_perms request.user for experiment as "experiment_perms" %}

    {% if "change_experiment" in experiment_perms %}
    <h2>Actions</h2>

    {% if not experiment.is_public %}
    <a href="/experiment_publish/{{ experiment.id }}/" class="btn btn-danger">Publish experiment</a>
    {% else %}
    <a href="/experiment_make_private/{{ experiment.id }}/" class="btn btn-danger">Make experiment private</a>
    {% endif %}    

    {% if experiment.get_status_display != 'Done' %}
    <a href="/experiment_cancel/{{ experiment.id }}/" class="btn">Cancel experiment</a>
    {% endif %}
    {% endif %}

    {% if experiment.has_failed_jobs %}
    <a href="/experiment_retry/{{ experiment.id }}/" class="btn">Retry failed jobs</a>
    {% endif %}

    <h2>Associated Jobs</h2>
    {% if job_list.count > 0 %}
    <table class="table">
        <thead>
            <tr>
                <th>Worker</th>
                <th>Package</th>
                <th>Status</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            {% for j in job_list %}
            <tr>
                <td><a href="/worker/{{ j.worker.id }}/">{{ j.worker.hostname }}</a></td>
                <td><a href="/package/{{j.package.id}}/">{{ j.package }}</a></td>
                <td>{{ j.get_status_display }}</td>
                <td><a href="/job/{{ j.id }}/">View details</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% with list=job_list %}
        {% include "datamill_website/pagiantion.html" %}
    {% endwith %}
    {% else %}
    <div class="alert alert-info">
        No jobs are associated with this experiment yet. Jobs will be shown here once the scheduling process is completed.
    </div>
    {% endif %}
    <div>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#job-status" data-toggle="tab">Job Status</a></li>
            <li><a href="#setup-time" data-toggle="tab">Setup Time</a></li>
            <li><a href="#run-time" data-toggle="tab">Run Time</a></li>
            <li><a href="#collect-time" data-toggle="tab">Collect Time</a></li>
        </ul>
        <div class="tab-content">
            <div class="active tab-pane" id="job-status">
                <div id="container-job-status" style="width: 800px; height: 400px; margin: 0 auto"></div>

            </div>
            <div class="tab-pane" id="setup-time">
                <div id="container-setup-time" style="width: 800px; height: 400px; margin: 0 auto"></div>
            </div>
            <div class="tab-pane" id="run-time">
                <div id="container-run-time" style="width: 800px; height: 400px; margin: 0 auto"></div>
            </div>
            <div class="tab-pane" id="collect-time">
                <div id="container-collect-time" style="width: 800px; height: 400px; margin: 0 auto"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        var categories = {{ jobs.labels|safe }};
        var jobs = {
            completed: {{ jobs.completed }},
            failed: {{ jobs.failed }}
        };
        var times = {{ times|safe }};
    </script>
{% endblock %}
