{% extends "base.html" %}

{% block title %}Experiments{% endblock %}

{% block content %}

    <ul class="breadcrumb">
      <li><a href="/">Home</a> <span class="divider">/</span></li>
      <li class="active">Experiments</li>
    </ul>

    <div class="row">
        <div class="span9">
            <h1>My Experiments</h1>
        </div>
        <div class="span3">
            <div class="button-outer">
                <br><p class="text-right"><a href="/experiment/add/" class="btn btn-danger">Create new experiment</a></p>
            </div>
	</div>
    </div>
    {% with list=experiment_list %}
        {% include "datamill_website/pagiantion.html" %}
    {% endwith %}
    {% if experiment_list %}
    <table class="table">
        <thead>
            <tr>
                <th><a href="?order_by={% if order_by == 'name' %}-{% endif %}name">Name</a></th>
                <th></th>
                <th></th>
                <th></th>
                <th><a href="?order_by={% if order_by == 'submission_date' %}-{% endif %}submission_date">Submitted</a></th>
                <th><a href="?order_by={% if order_by == 'status' %}-{% endif %}status">Status</a></th>
                <th>Completed</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
        {% for e in experiment_list %}
            <tr>
                <td><a href="/experiment/{{ e.id }}" id="experimentName{{ e.id }}">{{ e.name }}</a></td>
                <td><a href="#" data-id="{{ e.id }}" class="img-link edit-experiment"><span class="ui-icon ui-icon-pencil"></span></a></td>
                <td><a href="/experiment/clone/{{ e.id }}" class="img-link"><span class="ui-icon ui-icon-copy"></span></a></td>
                <td><a href="/experiment/delete/{{ e.id }}" class="img-link"><span class="ui-icon ui-icon-trash"></span></a></td>
                <td>{{ e.submission_date }}</td>
                <td>{{ e.get_status_display }}</td>
                <td>{{ e.get_completion_percentage }} %</td>
                <td><a href="/experiment/{{ e.id }}">View details</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
      <div class="alert alert-info">
        You do not have any experiments yet. Please <a href="/experiment/add/">submit an experiment</a>.
      </div>
      {% endif %}

    {% for e in experiment_list %}
        <div id="dialog{{ e.id }}" data-id="{{ e.id }}" class="experimentDialog hide" title="Edit experiment"> 
            <form action="{% url 'experiment_save' e.id %}" method="post">
                {% csrf_token %}
                <fieldset>
                    <label>Title</label>
                    <input name="name" type="text" value="{{ e.name }}"/>
                    <label>Description</label>
                    <textarea name="description" rows="5">{{ e.description }}</textarea>
                    <input type="hidden" name="replicate_count" value="{{ e.replicate_count }}">
                </fieldset>
            </form>
        </div> 
    {% endfor %}
{% endblock %}
