{% extends "base.html" %}

{% block title %}Create New Experiment{% endblock %}

{% block content %}
{%load i18n %}

    <ul class="breadcrumb">
        <li><a href="/">Home</a> <span class="divider">/</span></li>
        <li><a href="/experiments">Experiments</a> <span class="divider">/</span></li>
        <li class="active">Create New Experiment</li>
    </ul>

    <form class="experiment-wizard form-horizontal" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>

            <!-- Form Name -->
            <legend>Main Settings <span class="caption">Your experiment's essential details</span></legend>

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label required" for="name">Name</label>

                <div class="controls">
                    {{ experiment_form.name }}
                    {% if experiment_form.name.errors %}
                        <div class="alert alert-error">{{ experiment_form.name.errors }}</div>
                    {% else %}
                        <p class="help-block">Enter your experiment name</p>
                    {% endif %}

                </div>
            </div>

          <!-- Text input-->
          <div class="control-group">
            <label class="control-label" for="id_description">Description</label>

            <div class="controls">
              {{ experiment_form.description }}
              {% if experiment_form.description.errors %}
                <div class="alert alert-error">{{ experiment_form.description.errors }}</div>
              {% endif %}
            </div>
          </div>

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label" for="replicate_count">Replicate Count</label>

                <div class="controls">
                    <span class="input-append">
                        {{ experiment_form.replicate_count }}
                        <span class="add-on">#</span>
                    </span>


                    {% if experiment_form.replicate_count.errors %}
                        <div class="alert alert-error">{{ experiment_form.replicate_count.errors }}</div>
                    {% else %}
                        <p class="help-block">Enter how many times each job should execute</p>
                    {% endif %}
                </div>
            </div>

            <div class="control-group">
                <label class="control-label required" for="previous_packages">File(s)</label>

                <div class="controls">
                    {{ packageset.management_form }}
                    <div>
                        {% for package in previous_packages %}
                            <div class="checkbox">
                                <label>
                                    <input id="previous_packages" name="previous_packages" type="checkbox"
                                           value="{{ package.id }}"
                                           checked/>{{ package.filename }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                    {% for package in packageset %}
                        <div class='add-file'>
                            <label for="id_{{ package.file.html_name }}"
                                   class="element-invisible">{{ package.file.label_tag }}</label>
                            {{ package.file }}
                        </div>
                    {% endfor %}
                    {% if packageset.errors %}
                        <div class="alert alert-error">
                            {% for line in packageset.errors %}
                                {{ line.file }}
                            {% endfor %}
                        </div>
                    {% endif %}

                    <input type="button" value="Add file" id="btn-add-file" class="btn btn-danger">
                    <input type="button" value="Remove file" id="btn-remove-file" class="btn">
                </div>
            </div>

            <div class="control-group">
              <label class="control-label required" for="id_tags">Tags</label>

                <div class="controls">
                  {{ experiment_form.tags }}
                  {% if experiment_form.tags.errors %}
                        <div class="alert alert-error">{{ experiment_form.tags.errors }}</div>
                    {% endif %}
                </div>
            </div>

        </fieldset>

        {% if experiment_form.non_field_errors %}
            <div class="alert alert-error">{{ experiment_form.non_field_errors }}</div>
        {% endif %}

        <fieldset class="hardware">
            <legend>Hardware Factors <span class="caption">Where can your experiment run? <i class="icon-info-sign" data-toggle="tooltip" title="Please exclude platforms your experiment is incompatible with. We'll pick the machines that will run your code from the remaining pool of eligible workers."></i></span></legend>
            {% for choice in hardware_choices %}

                <div class="control-group">
                    <label class="control-label">
                        {{ choice.name }}
                    </label>
                    <div class="controls">
                        {% for option in choice.get_levels %}
                            <label class="checkbox inline">
                                <input type="checkbox" value="{{ option }}"
                                       data-bind="checked: options.{{ choice.internal_name }}">
                                {% trans option %}
                            </label>
                        {% endfor %}
                        <p class="help-block">{{ choice.description }}</p>
                    </div>
                </div>
            {% endfor %}
            <!-- ko foreach: sliders.hardware -->
            <div class="control-group">
                <label class="control-label" data-bind="text: name">
                </label>
                <div class="controls slider-container" data-bind="template: { name: 'slider-template', data: $data }"></div>
            </div>
            <!-- /ko -->


            <div class="control-group">
                <label class="control-label">
                    Machine Pool
                </label>
                <div class="controls">
                    <div class="well" data-bind="foreach: machines.all">
                        <a class="machines" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="top" data-bind="click: $root.machines.details, popover: { content: 'Arch: '+workers[$data].cpu_arch+'<br />Core Count: '+workers[$data].num_cpus+'<br />CPU MHz: '+workers[$data].cpu_mhz+'<br />RAM: '+Humanize.fileSize(workers[$data].ram_sz*1024), title: 'Worker: ' + $data }, css: { gray: !$root.machines.selected().find($data) }" href="#"><span data-bind="text: $data"></span></a>
                    </div>
                    <p data-bind="css: { error: machines.selected().length === 0 }" class="help-block">There are <span class="badge" data-bind="text: machines.selected().length"></span> machines eligible to run your experiment. <span data-bind="visible: machines.selected().length > 0">Eligible machines are highlighted in red and their architectures are <span data-bind="text: architectures_text"></span>. </span></p>
                </div>
            </div>
        </fieldset>
        <fieldset class="software">
            <legend>Software Factors <span class="caption">Select which software settings you would like to explore. <i class="icon-info-sign" data-toggle="tooltip" title="We've selected sane defaults for you, so you probably just have to add extra levels you're interested in. Each factor combination is exhaustively explored, so beware of combinatorial explosion!"></i></span></legend>
            <div class="well">
                <h4>Known Factors</h4>
                {% for choice in software_choices.known %}
                    {% include "sections/software_checkbox.html" %}
                {% endfor %}
            </div>
            <div class="well">
                <h4>Hidden Factors</h4>
                {% for choice in software_choices.hidden %}
                    {% include "sections/software_checkbox.html" %}
                {% endfor %}
            </div>
            <hr/>
            <div class="control-group">
                <label class="control-label" data-bind="css: { error: numJobs() == 0 }">
                    Jobs per Worker
                </label>
                <div class="controls">
                    <div class="well"><span data-bind="text: numJobs"></span><span class="badge" data-bind="css: jobsStatus, text: jobStatusText"></span></div>
                    <p class="help-block">This is the number of jobs that will be created per machine. The higher the number of jobs per machine, the lower the priority of your experiment will be, and the longer your experiment will take to finish.</p>
                </div>
            </div>

        </fieldset>

        {% if admin %}
        <fieldset class="admin">
            <legend>Administrative Options <span class="caption">Use with care!</span></legend>

            <div class="control-group">
                <label class="control-label">
                    Run on all Workers
                </label>
                <div class="controls">
                    <label class="checkbox inline">
                        <input type="checkbox" name="run_on_all_workers">
                        Forces jobs to be scheduled on all workers.
                    </label>
                </div>
            </div>
        </fieldset>
        {% endif %}

    
        <input type="submit" value="Submit" class="pull-right submit btn btn-danger" data-bind="click: save"/>
        <input type="hidden" name="factorSettings" data-bind="value: ko.toJSON(viewModel)"/>

    </form>
    <div id="dialog" title="" class="ui-helper-hidden">
        <p>Check form for errors</p>
    </div>
{% endblock content %}
{% block scripts %}
    <script type="text/javascript">
        var factors ={{ factors|safe }};
        var constants ={{ constants|safe }};
        var features ={{ features|safe }};
        var workers ={{ workers|safe }};
    </script>
    <script type="text/html" id="slider-template">
        <div>
            <div class="slider-container">
                <div class="slider"
                     data-bind="wijslider: { values: ranges, min: min, max: max, slide: slide, range: true }">
                </div>
                <div class="min"></div>
                <div class="max"></div>
            </div>
        </div>

        <p class="help-block" data-bind="text: description"></p>
    </script>
{% endblock %}
