{% extends "base.html" %}

{% block title %}Job Details{% endblock %}


{% load humanize %}
{% block content %}
    <ul class="breadcrumb">
        <li><a href="/">Home</a> <span class="divider">/</span></li>
        <li><a href="/jobs/">Jobs</a> <span class="divider">/</span></li>
        <li class="active">Job Details</li>
    </ul>

    <ul class="nav nav-pills pull-right">
        <li><a href="/experiment/{{ job.experiment.id }}" title="{{ job.experiment }}">Experiment</a></li>
        <li><a href="/worker/{{ job.worker.id }}" title="{{ job.worker.hostname }}">Worker</a></li>
        <li class="dropdown">
            <a class="dropdown-toggle"
               data-toggle="dropdown"
               href="#">
                Downloads
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                {% if job.get_status_display == 'Done' %}
                    <li>
                        <a href='/job_results/{{ job.id }}/'>Job Results</a>
                    </li>
                {% endif %}
                <li>
                    <a href="/package/{{ job.package.id }}">Package</a>
                </li>
            </ul>
        </li>
    </ul>

    <h1>Job Details</h1>

    <table class="hidden table table-condensed">
        <thead>
        <tr>
            <th>Attribute</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Last updated</td>
            <td>{{ job.last_update }}</td>
        </tr>
        <tr>
            <td>Status</td>
            <td>{{ job.get_status_display }}</td>
        </tr>
        {% if job.priority %}
            <tr>
                <td>Priority</td>
                <td>

                  <span id="priority">
                  {% if job.priority <= 7 %}
                      high
                  {% elif job.priority <= 18 %}
                      medium
                  {% else %}
                      low
                  {% endif %}
                  </span>
                </td>
            </tr>
        {% endif %}
        <tr>
            <td>Replication number</td>
            <td>{{ job.replicate_no }}</td>
        </tr>
        <tr>
            <td>Worker Version</td>
            <td>{{ job_status.general.worker_version }}</td>
        </tr>
        <tr>
            <td>Success</td>
            <td><span class="icon-{{ job_status.general.success|lower }}"></span></td>
        </tr>
        <tr>
            <td>Fail Message</td>
            <td>{{ job_status.finish_msg }}</td>
        </tr>
        </tbody>
    </table>

    {% if job_status %}

        <table class="hidden table job-output">
            <thead>
            <tr>
                <th>Script</th>
                <th>Success</th>
                <th>Output</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Setup</td>
                <td><span class="icon-{{ job_status.success.setup|lower }}"></span></td>
                <td>
                    <textarea rows="5">{{ job_status.output.setup|truncatechars:10000 }}</textarea>
                    {% if job_status.output.setup|length > 10000 %}
                        <p><a href="{% url 'job_status_log' job.id 'setup' %}">Download entire log file</a></p>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Run</td>
                <td><span class="icon-{{ job_status.success.run|lower }}"></span></td>
                <td>
                    <textarea rows="5">{{ job_status.output.run|truncatechars:10000 }}</textarea>
                    {% if job_status.output.run|length > 10000 %}
                        <p><a href="{% url 'job_status_log' job.id 'run' %}">Download entire log file</a></p>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Collect</td>
                <td><span class="icon-{{ job_status.success.collect|lower }}"></span></td>
                <td>
                    <textarea rows="5">{{ job_status.output.collect|truncatechars:10000 }}</textarea>
                    {% if job_status.output.collect|length > 10000 %}
                        <p><a href="{% url 'job_status_log' job.id 'collect' %}">Download entire log file</a></p>
                    {% endif %}
                </td>
            </tr>
            </tbody>
        </table>

        <div class="row">
            <div class="span6">

                <table class="hidden table table-condensed">
                    <thead>
                    <tr>
                        <th>Time</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Install</td>
                        <td>{{ job_status.worker_common.install }}</td>
                    </tr>
                    <tr>
                        <td>Unpack</td>
                        <td>{{ job_status.worker_common.unpack }}</td>
                    </tr>
                    <tr>
                        <td>Setup</td>
                        <td>{{ job_status.worker_common.setup }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="span6">

                <table class="hidden table table-condensed">
                    <thead>
                    <tr>
                        <th>Time</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Run</td>
                        <td>{{ job_status.worker_common.run }}</td>
                    </tr>
                    <tr>
                        <td>Collect</td>
                        <td>{{ job_status.worker_common.collect }}</td>
                    </tr>
                    <tr>
                        <td>Verify</td>
                        <td>{{ job_status.worker_common.verify }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    <div class="row">
        <div class="span6">

            <table class="hidden table table-condensed">
                <thead>
                <tr>
                    <th>Factor</th>
		    <th>Status</th>
                    <th>Verified</th>
                </tr>
                </thead>
                <tbody>
                {% for key, value in job_status.verify.items %}
                    {% if forloop.counter0|divisibleby:2 %}<tr>
                    <td>{{ key }}</td>
		    <td>{{ value.1 }}</td>
                    <td><span class="icon-{{ value.0|lower }}"></span></td>
                    </tr>{% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="span6">

            <table class="hidden table table-condensed">
                <thead>
                <tr>
                    <th>Factor</th>
		    <th>Status</th>
                    <th>Verified</th>
                </tr>
                </thead>
                <tbody>
                {% for key, value in job_status.verify.items %}
                    {% if forloop.counter|divisibleby:2 %}<tr>
                    <td>{{ key }}</td>
		    <td>{{ value.1 }}</td>
                    <td><span class="icon-{{ value.0|lower }}"></span></td>
                    </tr>{% endif %}
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
    {% endif %}
     <table class="hidden table table-condensed">
        <tbody>
        <tr>
            <td>Get Time</td>
            <td>{{ job_status.general.get_time }}</td>
        </tr>
        <tr>
            <td>Finish Time</td>
            <td>{{ job_status.general.finish_time }}</td>
        </tr>
        </tbody>
    </table>

    <table class="hidden table table-condensed">
        <tr>
            <td>Kernel</td>
            <td>{{ job_status.general.kernel_version }}</td>
        </tr>
        <tr>
            <td>Installed Packages</td>
            <td>{{ job_status.general.installed_packages|linebreaksbr }}</td>
        </tr>
    </table>

    {% if job.logs %}
    <h1>Logs</h1>
    <table>
        {% for log_name, contents in job.logs %}
        <tr>
            <td>{{ log_name|capfirst }}</td>
            <td><textarea rows="5">{{ contents }}</textarea></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
{% endblock %}
