{% extends "base.html" %}

{% block title %}Jobs{% endblock %}

{% load static %}

{% block content %}

    <ul class="breadcrumb">
      <li><a href="/">Home</a> <span class="divider">/</span></li>
      <li class="active">Jobs</li>
    </ul>

    <h1>My Jobs</h1>
    {% with list=job_list %}
        {% include "datamill_website/pagiantion.html" %}
    {% endwith %}
    {% if job_list.count > 0 %}
    <table class="table">
        <thead>
            <tr>
                <th><a href="?order_by={% if order_by == 'experiment' %}-{% endif %}experiment">Experiment</a></th>
                <th><a href="?order_by={% if order_by == 'package' %}-{% endif %}package">Package</a></th>
                <th><a href="?order_by={% if order_by == 'worker' %}-{% endif %}worker">Worker</a></th>
                <th><a href="?order_by={% if order_by == 'status' %}-{% endif %}status">Status</a></th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
        {% for j in job_list %}
        <tr>
            <td><a href="/experiment/{{ j.experiment.id }}">{{ j.experiment }}</a></td>
            <td><a href="/package/{{ j.package.id }}/">{{ j.package }}</a></td>
            <td><a href="/worker/{{ j.worker.id }}">{{ j.worker.hostname }}</a></td>
            <td>{{ j.get_status_display }}</td>
            <td><a href="/job/{{ j.id }}">View details</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>   
    {% else %}
    <div class="alert alert-info">
        You do not have any jobs yet. Please <a href="/experiment/add/">submit an experiment</a>.
    </div>
    {% endif %}

{% endblock %}
