<div class="pagination">
    <span class="step-links">
        {% if list.has_previous %}
            <a href="?page={{ list.previous_page_number }}&order_by={{ order_by }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ list.number }} of {{ list.paginator.num_pages }}
        </span>

        {% if list.has_next %}
            <a href="?page={{ list.next_page_number }}&order_by={{ order_by }}">next</a>
        {% endif %}
    </span>
</div>