{% extends "base.html" %}

{% block title %}Workers{% endblock %}

{% block content %}

    <ul class="breadcrumb">
      <li><a href="/">Home</a> <span class="divider">/</span></li>
      <li class="active">Workers</li>
    </ul>

    <div class="row">
        <div class="span9">
            <h1>Workers</h1>
        </div>
        <div class="span3">
            {% if not worker_claim %}
                <div class="button-outer">
                    <br>

                    <p class="text-right"><a href="{% url 'new_workers' %}" class="btn btn-danger">Register new
                        worker</a></p>
                </div>
            {% endif %}
        </div>
    </div>
    <form action="{% url 'register_worker' %}" method="post">
        {% csrf_token %}
        <table class="table">
            <thead>
                <tr>
                    {% if worker_claim %}
                        <th>Select</th>
                    {% endif %}
                    <th><a href="?order_by={% if order_by == 'hostname' %}-{% endif %}hostname">Hostname</a></th>
                    <th><a href="?order_by={% if order_by == 'status' %}-{% endif %}status">Status</a></th>
                    <th><a href="?order_by={% if order_by == 'last_update' %}-{% endif %}last_update">Last updated</a></th>
                    {% if not worker_claim %}
                        {% comment %}<th><a href="?order_by={% if order_by == 'user__username' %}-{% endif %}user__username">Owner</a></th>{% endcomment %}
                        <th>Details</th>
                    {% endif %}
                </tr>
            </thead>
			{% with list=worker_list %}
				{% include "datamill_website/pagiantion.html" %}
			{% endwith %}
            <tbody>
                {% for w in worker_list %}
                <tr>
                    {% if worker_claim %}
                        <td><input type="checkbox" name="workers" value="{{ w.id }}"/></td>
                    {% endif %}
                    <td>{{ w.hostname }}</td>
                    <td>{{ w.get_status_display }}</td>
                    <td>{{ w.last_update }}</td>
                    {% if not worker_claim %}
                        {% comment %}<td>{{ w.user.username }}</td>{% endcomment %}
                        <td><a href="/worker/{{ w.id }}">View details</a></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if worker_claim %}
            <input type="submit" value="Submit" class="submit btn btn-danger" data-bind="click: save"/>
        {% endif %}
    </form>

{% endblock %}
