{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <ul class="breadcrumb">
      <li><a href="/">Home</a> <span class="divider">/</span></li>
      <li class="active">Workers</li>
    </ul>
  <div class="row">
    <div class="span6">
      <h2>Recent Jobs</h2>
    </div>
    <div class="span6"></div>
  </div>
  <div class="row">
  <div class="span12">
    <div id="container-job-status"></div>
  </div>
  </div>
  <div class="row">
    <div class="span6">
      <div class="row">
        <div class="span6">
          <h2>Dead Workers</h2>
        </div>
        <div class="span6">
          <table class="table">
            <thead>
            <tr>
              <th>Hostname</th>
              <th>Last updated</th>
            </tr>
            </thead>
            <tbody>
            {% for w in worker_list %}
              <tr>
                <td><a href="/worker/{{ w.id }}">{{ w.hostname }}</a></td>
                <td>{{ w.last_update }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="span6">
      <div class="row">
        <div class="span6">
          <h2>Failed Jobs</h2>
        </div>
        <div class="span6">
          <table class="table">
            <thead>
                <tr>
                    <th>Package</th>
                    <th>Worker</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for j in job_list %}
            <tr>
                <td><a href="/package/{{ j.package.id }}/">{{ j.package }}</a></td>
                <td><a href="/worker/{{ j.worker.id }}">{{ j.worker.hostname }}</a></td>
                <td><a href="/job/{{ j.id }}" class="img-link"><span class="ui-icon ui-icon-document"></span></a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        var categories = {{ jobs.labels|safe }};
        var jobs = {
            completed: {{ jobs.completed }},
            failed: {{ jobs.failed }}
        };
    </script>
{% endblock %}
