{% extends "base.html" %}

{% block title %}Worker Details{% endblock %}

{% block content %}

    <ul class="breadcrumb">
        <li><a href="/">Home</a> <span class="divider">/</span></li>
        <li><a href="/workers/">Workers</a> <span class="divider">/</span></li>
        <li class="active">Worker Details</li>
    </ul>

    <div class="row">
        <div class="span9">
            <h1>Worker Details</h1>
        </div>
        <div class="span3">
            {% if admin %}
                <div class="button-outer">
                    <br>

                    <p class="text-right"><a href="{% url 'cancel_worker_jobs' worker.id %}" class="btn btn-danger">Cancel all jobs</a></p>
                </div>
            {% endif %}
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Attribute</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Last updated</td>
            <td>{{ worker.last_update }}</td>
        </tr>
        <tr>
            <td>Status</td>
            <td>{{ worker.get_status_display }}</td>
        </tr>
        {% if worker.current_experiment %}
        <tr>
            <td>Experiment</td>
            <td><a href="{% url 'experiment_detail' worker.current_experiment.id %}">{{ worker.current_experiment.name }}</a></td>
        </tr>
        {% endif %}
        <tr>
            <td>Queue Length</td>
            <td>{{ worker.job_queue|length }}</td>
        </tr>
        <tr>
            <td>Hostname</td>
            <td>{{ worker.hostname }}</td>
        </tr>
        <tr>
            <td>CPU architecture</td>
            <td>{{ worker_settings.cpu_arch }}</td>
        </tr>
        <tr>
            <td>No. of CPU cores</td>
            <td>{{ worker_settings.num_cpus }}</td>
        </tr>
        <tr>
            <td>CPU model</td>
            <td>{{ worker.cpu_model }}</td>
        </tr>
        <tr>
            <td>CPU frequency</td>
            <td>{{ worker_settings.cpu_mhz }}MHz</td>
        </tr>
        <tr>
            <td>CPU flags</td>
            <td>{{ worker.cpu_flags }}</td>
        </tr>
        <tr>
            <td>RAM size</td>
            <td>{{ worker_settings.ram_sz }}</td>
        </tr>
        <tr>
            <td>RAM type</td>
            <td>{{ worker.ram_type }}</td>
        </tr>
        <tr>
            <td>Page size</td>
            <td>{{ worker_settings.page_sz }}</td>
        </tr>
        <tr>
            <td>GPU model</td>
            <td>{{ worker.gpu_model }}</td>
        </tr>
        <tr>
            <td>GPU flags</td>
            <td>{{ worker.gpu_flags }}</td>
        </tr>
        </tbody>
    </table>

    {% if histogram_dict %}
    <h2>Performance Data</h2>
    {% load humanize %}
    <div class="tabbable tabs-left">
        <ul class="nav nav-tabs">
            {% for name, data in histogram_dict.items %}
                <li {% if forloop.first %}class="active"{% endif %}><a href="#{{ name }}" data-toggle="tab">{{ name|humanize }}</a></li>
            {% endfor %}
        </ul>
        <div class="tab-content">
            {% for name, data in histogram_dict.items %}
            <div class="{% if forloop.first %}active {% endif %}tab-pane worker-histogram" id="{{ name }}">
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <h2>Associated Jobs</h2>

    {% if job_list.count > 0 %}
        <table class="table">
            <thead>
            <tr>
                <th>Experiment</th>
                <th>Package</th>
                <th>Status</th>
                <th>Details</th>
            </tr>
            </thead>
            <tbody>
            {% for j in job_list %}
                <tr>
                    <td><a href="/experiment/{{ j.experiment.id }}">{{ j.experiment }}</a></td>
                    <td><a href="/package/{{ j.package.id }}">{{ j.package }}</a></td>
                    <td>{{ j.get_status_display }}</td>
                    <td><a href="/job/{{ j.id }}">View details</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% with list=job_list %}
            {% include "datamill_website/pagiantion.html" %}
        {% endwith %}
    {% else %}
        <div class="alert alert-info">
            You do not have any jobs on this worker.
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        var histograms = {{ histograms|safe }};
    </script>
{% endblock %}
