{% extends "wiki/article.html" %}
{% load wiki_tags i18n humanize thumbnail %}
{% load url from future %}

{% block pagetitle %}{% trans "Replace image" %}: {{ image }}{% endblock %}

{% block wiki_contents_tab %}
  {% thumbnail image.current_revision.imagerevision.image "250x250" as thumb %}
    <p class="thumbnail pull-right">
      <img src="{{ thumb.url }}" alt="{{ revision.get_filename }}" />
    </p>
  {% endthumbnail %}
  <p class="lead">
    {% trans "Choose an image file to replace current image." %}
  </p>
  <form method="POST" class="form-horizontal" enctype="multipart/form-data">
    {% wiki_form form %}
    <div class="form-actions">
      <a href="{% url 'wiki:images_index' path=urlpath.path article_id=article.id %}" class="btn">
        <span class="icon-arrow-left"></span>
        {% trans "Go back" %}
      </a>
      <button class="btn btn-danger">
        <span class="icon-upload icon-white"></span>
        {% trans "Upload replacement" %}
      </button>
    </div>
  </form>
  
{% endblock %}

